* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: JetBrainsMono Nerd Font;
  margin: 0 1px;
  padding:1 2px 0;
}

.bar {
  font-size: 14px;
  font-weight: 900;
  background-color: #11111b;
  color: #cdd6f4;
  border-radius: 15 15 0 0;
}
